<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Micko Widi">
  <meta name="description" content="Explore a thausand of restaurant information served">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" href="/images/icon192.png">
  <link rel="apple-touch-icon" href="/public/images/icon192.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restaurant's App</title>
</head>
<body>
  <a href="#main-content" class="skip">Skip to content</a>
  <header class="header">
    <nav id="navigationDrawer" class="navbar">
        <a href="/" class="nav-logo">Restaurant's App</a>
        <button id="hamburgerButton" class="hamburger">☰</button>
        <ul id="navMenu" class="nav-menu">
            <li class="nav-item">
                <a href="#/restaurants" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#/favorite" class="nav-link">Favorite</a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://www.linkedin.com/in/micko-widi-5390441b0/" class="nav-link">About</a>
            </li>
        </ul>
      </nav>
  </header>

  <main id="main-content"></main>

  <footer class="footer">Copyright &copy; 2021 - <span class="">Restaurant App</span></footer>
</body>
</html>